<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airport hotel</title>
    <style>
      #b {
        float: left;
        height: 350px;
        width: 350px;
        border-radius: 7px;
      }
      span {
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div class="aip">
      <img
        id="b"
        src="https://images.pexels.com/photos/21253731/pexels-photo-21253731/free-photo-of-facade-of-the-sheraton-nice-airport-hotel-nice-france.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt=""
      />
      <span
        >Travelling the world means dealing with time zones, layovers and jet
        lag. Airport hotels are essential for weary travellers looking for a
        haven near airports. They are unique accommodations to consider for a
        smooth arrival and departure. <br />
        Airport hotels are accommodations near airports. Their goal is to
        provide travellers with a cosy place to rest before or after their
        journey. They have different styles and amenities to make guests
        comfortable.</span
      >
    </div>
  </body>
</html>
